<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Kiwi Scott - A Simple Blog</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Arvo:400,700|Oswald" rel="stylesheet"
        type="text/css">
    <link href="/css/default.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    <style type="text/css">
        @import "/css/layout.css";
    </style>
</head>  
<body>
    
    <div id="footer-content" class="container">
        <div id="three-columns">
            <div id="box7">
                <h2>
                    Geek things I Follow</h2>
                <ul class="style4">
                    <li class="first"><a href="http://www.udidahan.com">Udi Dahan</a></li>
                    <li><a href="http://blog.jonathanoliver.com/">Johnathan Oliver - CQRS</a></li>
                    <li><a href="http://www.lostechies.com">Jimmy Bogard / Derick Bailey</a></li>
                    <li><a href="http://www.dotnetrocks.com/">.Net Rocks Podcast</a></li>
                    <li><a href="http://skillsmatter.com/go/design-architecture">Skillsmatter - Awesome
                        Developer Training</a></li>
                </ul>
            </div>
            <div id="box8">
                <h2>
                    My favourite posts</h2>
                <div>
                    <ul class="style4">
                        <li class="first"><a href="#">...this is new</a></li>
                        <!--   <li><a href="#">Quis iaculis urna curabitur et tortor</a></li>
                        <li><a href="#">Maecenas llobortis vestibulum</a></li>
                        <li><a href="#">Interdum congue sit amet auctor</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" class="container">
    </div>
</body>
</html>
