---
layout: default
---

SDSDSDFSDFSDFSDFSDFSDFSDFSDFDFDFDFDFDFDFDFDFDFDFDFDFDFDFDFDFDFDFDFDFDFDFDFDFDFDFDFDFDFDF


sdffsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdf


<div class="post">
<h2 class="title"> {{ page.date | date: "%b" }} {{ page.date | date: "%d" }} {{ page.date | date: "%Y" }} {{ page.location }}  </h2>
<div class="entry">
<div id="box1">
<h3 class="text1">{{ page.title }}</h3>
<p class="text2">{{ page.tags }}</p>

{{ content }}

<div id="disqus_thread"></div>

<script type="text/javascript">
   var disqus_identifier = '{{ post.id }}';
</script>
                                
</div>
</div>
</div>
